* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-80 {
  width: 80%;
}
